body {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  font-family: 'Yellowtail', cursive;
}
div {
  margin: 0px auto;

}
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}
td {
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: red;
    outline: 1px solid white;
    outline-offset: -1px;
    font-family: 'Roboto Mono', monospace;
    color: black;
}

.flagged {
    background-color: blue;
    color: white;
}

.bomb {
    background-color: red;
}

.revealed {
    background-color: white;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
